/* Nick Meek, COMP112 CSSII Lab. Dec 2014 */

html{
	background-color:#E6EDF7;
	color:#07326E;
}

div{
	width:300px;
	height:100px;
	border:1px solid;
	margin: 10px 0;
	padding-top:50px;
	text-align:center;
	font-size:xx-large;
}

body{
	position: absolute;
}

#divOne{
	background-color:#F0C7D0;
	color:inherit;
}

#divTwo{
	position:absolute;
	bottom: -200px;
	left:400px;
	background-color:#C7F0D2;
	color:inherit;
}

p{
	position: relative;
}

span{
	position:absolute;
	bottom:15px;
	left: 50px;
	color:red;
	background-color:transparent;
}