/*css for accessibility lab 19-5-08 Nick Meek*/
body{
	font-family:Arial, sans-serif;
	width:700px;
	margin:0 auto;
	background-color:#dcdcdc;
	color:#555;
	font-size:medium;
}

#nav{
	width:140px;
	float: right;
    
}

#nav ul{
	list-style-type:none;
	padding:10px;
}

#nav img{
	border: 0px solid black;
}

#poem{
	width:550px;
	float:left;
	border-right:dashed 1px #111111;
	margin-right:3px;
	padding-right:5px;
	
}

.picture{
	float:left;
	width:200px;
	margin:10px;
}

.verse{
	float:left;
	width:300px;
	font-size:11pt;
	background-color:inherit;
	color:#888;
}

.clear{
	clear:left;
}	

td{
	padding:2px 10px 2px 10px;
}


ul{
	    list-style-type: none;
	margin:10px; 
	}
	
li{
	padding:5px;

}

